/* font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; */

html {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  background-color: #c9b5ab;
}

figure img {
  width: 100%;
  margin: 0 1em;
}

figure figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
}

.navlist {
  color: #8f2440;
}

nav ol a {
  color: #8f2440;
  text-decoration: none;
}

nav ol {
  list-style: none;
}

.timeline {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.comvar {
  font-family: "PT Serif", serif;
  font-weight: normal;
}
