/* font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; */

html {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  margin: 0;
}

figure figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
}

nav ol a {
  color: #8f2440;
  text-decoration: none;
}

nav ol {
  list-style: none;
}

.timeline {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 1.125rem;
}

.comvar {
  font-family: "PT Serif", serif;
  font-weight: normal;
  list-style-type: lower-greek;
}

.deeppurple {
  font-family: "PT Serif", serif;
}

.jim {
  font-family: "PT Serif", serif;
}

.pratt {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;
}

h1 {
  color: #3f1622;
}

h2 {
  color: #3f1622;
}

.serve {
  font-family: "PT Serif", serif;
  font-style: italic;
}

dt {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

dd {
  font-family: "PT Serif", serif;
}

cite {
  font-family: "PT Serif", serif;
  font-size: .8rem;
}

ul {
  font-family: "PT Serif", serif;
  font-size: .8rem;
}

footer {
  font-family: "PT Serif", serif;
  font-size: .8rem;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}
